@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Whisper&display=swap');

@keyframes fade-down {
    0%{
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}


.inputContainer1{
    width: 100%;
    background-color: #E4F5FF;
    display: flex;
    align-items: center;
    list-style-type: decimal;
    padding: 16px;
    font-family: "roboto";
    border-radius: 7px;
    box-shadow: 0px 10px 15px -6px rgba(0,0,0,0.1);
    border-width: 0px;
    border-left-width: 5px;
    border-style: solid;
    border-color: #085376;
    justify-content: space-between;
    box-sizing: border-box;
    transition: 0.6s;
    animation: fade-down 0.5s ;
}

p{
    overflow-x:auto;
    display: flex;
    flex-wrap: wrap;

}
.inputContainer2{
    width: 100%;
    box-sizing: border-box;
    background-color: #9ab9e8;
    display: flex;
    align-items: center;
    list-style-type: decimal;
    padding: 16px;
    font-family: "roboto";
    border-radius: 7px;
    transition: 0.7s;
    box-shadow: 0px 10px 15px -6px rgba(0,0,0,0.1);
    border-width: 0px;
    border-left-width: 5px;
    border-style: solid;
    border-color: #006494;
    justify-content: space-between;
}
.dv1{
    display: flex;
    align-items: center;
    gap: 15px;
}
.ic1{
    color: rgb(30, 157, 30) !important;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
}
.ic{
    font-size: 18px;
    color:#003554;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
}
p{
    font-size: 19px;
}
.ic2{
    color: red !important;
}
.strike{
    text-decoration: line-through;
}
@media(max-width:678px){
    .inputContainer1{
        width: 100%;
    }
    .hh{
        font-size: 20px;
    }
}


